{% extends "layout.html" %}
{{ super() }}
{% block title %}SCOPE - Dashboard{% endblock %}
{% block subtitle %}Dashboard{% endblock %}

{% block content %}

<!-- Active Services -->
<h1 class="h4 mb-2 text-gray-800">Active Services</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  {% for key, value in status.items() %}
  <div class="col mb-4 d-flex align-items-stretch">
    <div class="card  mx-auto" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{value[2]}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {% if value[0] %}
          <span class="running">Active</span>
          {% else %}
          <span class="stopped">Stopped</span>
          {% endif %}
        </h6>
        <p class="card-text mt-2">{{value[1]}}</p>
        <a type="button" href="/service/{{key}}" class="btn btn-outline-primary mt-auto">Go To</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


<!-- External Services -->
<h1 class="h4 mb-2 text-gray-800 mt-4">External Services</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  {% for servicetag, servicevalues in ext_services.items() %}
  <div class="col mb-4 d-flex align-items-stretch">
    <div class="card  mx-auto" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">
          <p>{{servicevalues["name"]}}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">

        </h6>
        <p class="card-text mt-2">{{servicevalues["description"]}}</p>
        <a type="button" href="/service_external/{{servicetag}}" class="btn btn-outline-primary mt-auto">Go To</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>





{% endblock %}